In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the values in the index are used to
    reindex the Series after it is created using the keys in the data.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data.
File:           c:\python38\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

In [12]:
s = pd.Series(
    np.random.randn(5),
    index=['a','b','c','d','e'],
    name='sample'
)
s

a   -0.168861
b    1.544510
c    0.520537
d    1.208980
e   -1.173897
Name: sample, dtype: float64

In [13]:
s2 = pd.Series(
    5,
    index=['a','b'],
    name='sample2'
)
s2

a    5
b    5
Name: sample2, dtype: int64

In [14]:
s[:3]

a   -0.168861
b    1.544510
c    0.520537
Name: sample, dtype: float64

In [15]:
s.values

array([-0.16886103,  1.54450976,  0.52053743,  1.20897966, -1.17389712])

In [19]:
s['e'] = 500

In [20]:
df = pd.DataFrame(
    [
        ['Jan',10,20,30,40],
        ['Fev',10,20,30,50],
        ['Mar',20,20,30,50],
        ['Apr',10,10,30,50],
    ],
    index = [0,1,2,3],
    columns= ['month','avg_high','avg_low','record_high','record_low']
)
df

  month  avg_high  avg_low  record_high  record_low
0   Jan        10       20           30          40
1   Fev        10       20           30          50
2   Mar        20       20           30          50
3   Apr        10       10           30          50

In [21]:
filename = 'dataSample.csv'
df2 = pd.read_csv(filename)
df2

   month  avg_high  avg_low  record_high  record_low
0  'Jan'        10       20           30          40
1  'Fev'        10       20           30          40
2  'Mar'        10       20           30          40
3  'Apr'        10       20           30          40